html,body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    background-color:blanchedalmond;
}
#content-box h2,#content-box div{
    display: flex;
    justify-content: center;
}
#content-box{
    height: 500px;
    background-color: #1f2029;
    width: 400px;
    border-radius: 10px;
    margin: 100px auto;
    padding: 25px;
}

h2{
    letter-spacing: 2px;
    color: #f5e8be;
}
input{
    border-radius: 5px;
    border: 2px solid #000;
    margin-top: 30px;
    height: 2.5em;
    width: 255px;
    padding-left: 10px;
}
input:active{
    border: none;
}
button{
    margin-top: 20px;
    background-color: #ffeba7;
    border-radius: 5px;
    height: 2.5em;
    font-weight: 600;
    padding: 0 30px;
    cursor: pointer;
    color: #102770;
}
#result{
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
}
@media screen and (max-width:550px){
    #content-box{
       height: 400px;
       width: 300px;
    }
}